<header id="header" class="header-narrow" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 0, 'stickySetTop': '0', 'stickyChangeLogo': false}">
				<div class="header-body">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-logo">
									<a href="demo-finance.html">
										<img alt="Porto Finance" width="100" height="45" src="img/demos/finance/logo.png">
									</a>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row">
									<div class="header-nav">
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
											<i class="fa fa-bars"></i>
										</button>
										<a href="tel:+123456789" class="text-color-dark text-decoration-none hidden-xs" target="_blank">
											<span class="custom-toll-free pull-right font-weight-bold mt-xs">
												<i class="fa fa-mobile"></i>
												<span class="toll-free-title text-uppercase font-weight-normal">Toll Free</span>
												<span class="toll-free-number font-weight-bold">800 123 4567</span>
											</span>
										</a>
										<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 custom-header-nav-main-dark-style collapse">
											<nav>
												<ul class="nav nav-pills" id="mainNav">
													<li class="">
														<a href="demo-finance.html">
															Home
														</a>
													</li>
													<li class="">
														<a href="demo-finance-company.html">
															Company
														</a>
													</li>
													<li class="">
														<a href="demo-finance-strategies.html">
															Strategies
														</a>
													</li>
													<li class="">
														<a href="demo-finance-team.html">
															Team
														</a>
													</li>
													<li class="">
														<a href="demo-finance-news.html">
															News
														</a>
													</li>
													<li class="active">
														<a href="demo-finance-contact-us.html">
															Contact
														</a>
													</li>
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>